SMTP Sessions should support lines terminated with only  \n 

Today it requires 'HELO local.domain.name\r\n'


@dknecht this is the correct implementation - [RFC5321 section 2.3.8](https://tools.ietf.org/html/rfc5321#section-2.3.8) explicitly states this (_emphasis added by me_):

> Lines consist of zero or more data characters terminated by the
>    sequence ASCII character "CR" (hex value 0D) followed immediately by
>    ASCII character "LF" (hex value 0A).  This termination sequence is
>    denoted as <CRLF> in this document.  **Conforming implementations MUST
>    NOT recognize or generate any other character or character sequence
>    as a line terminator.**  Limits MAY be imposed on line lengths by
>    servers (see Section 4).

What's your use case for requiring non-standard line endings?


netcat "nc" doesn't seem to send them.  It is common to test with that tool.  If you test against exchange, postfix, or google MTA you will see they support it. 


> netcat "nc" doesn't seem to send them

you can use `nc -c` if your version of netcat supports it

do any mail clients or servers actually send the broken syntax? `<CRLF>` was part of the [RFC821 command semantics](https://tools.ietf.org/html/rfc821#section-4.1.1) 33 years ago, so I'd hope not! and if nobody sends it, why support it?

if there is a genuine use case for support invalid syntax then its worth considering, but I'd be concerned about adding support for syntax which was invalid under the original RFC and explicitly clarified as invalid in another RFC 26 years later.

(it could be added with a feature flag, but I'd rather not clutter up config with an option nobody will ever use)


Thats fine.  I was just hoping to avoid someone else that was debugging to go through same issue.  Thanks for the tool.  Our dev team has been enjoying. 
